@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>Trade</title>
    <link rel="stylesheet" asp-href-include="~/css/**/*.css">
</head>
<body>
<canvas id="trade"></canvas>
<script asp-src-include="~/lib/**/*.min.js"></script>
<script asp-src-include="~/js/init/*.js"></script>
<script src="~/js/world.js"></script>
<script src="~/js/game.js"></script>
</body>
</html>